<section id="col-izq">

  <%= render 'shared/col_izq' %>
  
</section><!--  
--><section id="col-central">

  <%= render 'shared/menu_principal' %>

  <header id="titulo-central" >
    <h3>
      Editar
    </h3>                
  </header>
  
  <article id="registro" class="perfil">
    <%= simple_form_for @user do |f| %>

      <%= render 'fields', f: f %>

      <%= f.button :submit, value: "Finalizar", class: "btn btn-alert" %>
    <% end -%>
      
  </article>              

</section><!--  
--><section id="col-der">
  
</section>