<section id="col-izq">
  
</section><!--  
--><section id="col-central">

  <header id="titulo-central" >
    <h3>
      Registro
    </h3>                
  </header>
  
  <article id="registro" class="perfil">
    <%= simple_form_for @user do |f| %>
      
      <%= f.input :email, hint: "esta cuenta sera usada para logearse" %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.error :base %>
      <%= f.button :submit, value: "Crear cuenta" %>
    <% end -%>
      
  </article>              

</section><!--  
--><section id="col-der">
  
</section>