   <!-- aca las columnas izquierda, centro y derecha -->
   <section id="col-izq">
       <!-- columna izquierda - foto del usuario o lugar  y una pequenia descripcion -->
      <%= render 'shared/col_izq' %>
      
   </section><!-- 
--><section id="col-central">
      <!-- colmuna central - contenida de la pagina -->
      
      <%= render 'shared/menu_principal' %>
       

      <header id="titulo-central" >
          <h2>
              Perfil
          </h2>

          <%= link_to "Editar perfil", edit_user_path(@user), class: "editar-perfil"  if current_user?(@user) %>

      </header>
      <article id="perfil" class="perfil">
          <!-- <div id="map"></div> -->
          <div id="wrap-map" class="box-dato-perfil">
              <h4>
                  Vivo en
              </h4>
              <span class="dato-perfil">Cochabamba</span>
          </div>
          <div id="wrap-nombre" class="box-dato-perfil">
              <h4>
                  Nombre 
              </h4>
              <spam class="dato-perfil" ><%= @user.full_name %></span>
          </div>
          <div id="wrap-email" class="box-dato-perfil">
              <h4>Email</h4>
              <span class="dato-perfil"> <%= @user.email %> </span>
          </div>
      </article>
      
  </section><!--
--><section id="col-der">
      <!-- columna derecha - links a lugares favoritos y recomendados -->
      <div class="in-col-der">
          <aside id="sitios-interesantes" class="box-col-der">
              <h4>
                  Sitios Interesantes
              </h4>
              <nav>
                  <ul>
                      <li><a href="#">sitio1</a></li>
                      <li><a href="#">sitio 2</a></li>
                      <li><a href="#">sitie 3</a></li>
                      <li><a href="#">sitie 4</a></li>
                      <li><a href="#">sitie 5</a></li>
                  </ul>
              </nav>
          </aside>
           <aside id="novedades" class="box-col-der">
              <h4>
                  Novedades
              </h4>
              <nav>
                  <ul>
                      <li><a href="#">sitio1</a></li>
                      <li><a href="#">sitio 2</a></li>
                      <li><a href="#">sitio 3</a></li>
                      <li><a href="#">sitio 4</a></li>
                      <li><a href="#">sitio 5</a></li>
                  </ul>
              </nav>
          </aside>
      </div>
  </section>