   <section id="col-izq">
       <!-- columna izquierda - foto del usuario o lugar  y una pequenia descripcion -->
      <%= render 'shared/col_izq' %>
      
   </section><!-- 
--><section id="col-central">
       <!-- colmuna central - contenida de la pagina -->

      <%= render 'shared/menu_principal' %>

      <header id="titulo-central" >
          <h3>
             A donde quieres ir !!
          </h3>                
      </header>

      <article id="finder_place" class="perfil">
        <div id="map"></div>
      
        <div class="form_finder">
          <!-- <h4>destino</h4> -->
          <%= form_tag finder_path, method: :get do %>
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "buscar", name: nil %>
          <% end -%>

        </div>

        <div id="places">
          <ul>
            <% @places.each do |place| %>
              <li>
                <%= radio_button_tag(:place, "#{place.coord_geographic.x} #{place.coord_geographic.y}") %>
                <%= label_tag(:place, place.name.titleize) %>                
              </li>
            <% end %>
          </ul>
        </div>

          <%= form_tag finder_path do |f| %>
            
            <%= text_field_tag :lon_s %>
            <%= text_field_tag :lat_s %>

            <%= text_field_tag :lon_t %>
            <%= text_field_tag :lat_t %>

            <%= submit_tag "Buscar ruta" %>
          <% end -%>


      <%= @costo %>
      </article>

   </section><!--
--><section id="col-der">
       <!-- columna derecha - links a lugares favoritos y recomendados -->
    <%= render 'shared/col_der' %>    
    
   </section>