   <section id="col-izq">
       <!-- columna izquierda - foto del usuario o lugar  y una pequenia descripcion -->
      <%= render 'shared/col_izq' %>
      
   </section><!-- 
--><section id="col-central">
       <!-- colmuna central - contenida de la pagina -->

      <%= render 'shared/menu_principal' %>

      <header id="titulo-central" >
          <h3>
             A donde quieres ir !!
          </h3>                
      </header>

      <article id="finder_place" class="perfil">
        <div id="map"></div>

        <div id="solution">hola</div>
      
        <div id="finder_forms">
          <div id="find_places">
            <%= form_tag({controller: "places", action: "search"},  remote: true) do %>
              <%= text_field_tag :query, params[:query] %>
              <%= submit_tag "buscar destino", name: nil %>
            <% end -%>
          </div>

          <div id="query_places">
            <%= render partial: 'query_places', collection: @places, as: :place  %>
          </div>
          
          <div id="find_path">
            <%= form_tag({controller: "places", action: "found"}, remote: true ) do %>

              
              <%= hidden_field_tag :lon_s %>
              <%= hidden_field_tag :lat_s %>

              <%= hidden_field_tag :lon_t %>
              <%= hidden_field_tag :lat_t %>

              <%= submit_tag "Buscar ruta", id: 'buscar_ruta' %>
            <% end -%>
          </div>         
        </div>

      </article>

   </section><!--
--><section id="col-der">
       <!-- columna derecha - links a lugares favoritos y recomendados -->
    <%= render 'shared/col_der' %>    
    
   </section>