   <section id="col-izq">
       <!-- columna izquierda - foto del usuario o lugar  y una pequenia descripcion -->
      <%= render 'shared/col_izq' %>
      
   </section><!-- 
--><section id="col-central">
       <!-- colmuna central - contenida de la pagina -->

      <%= render 'shared/menu_principal' %>

      <header id="titulo-central" >
          <h2>
             <%= @place.name %>
          </h2>                
        
        <%= link_to "Add image", new_place_photo_path(@place), class: "editar-perfil" %>
      </header>


      <div class="add-comment" id="add-comment">
        <%= render 'shared/comment_form' %>
      </div>

      <article id="show_place" class="perfil">
        <div id="map"></div>
      </article>

      <% if @comments.any? %>
        <%= render @comments %>
      <% end %>

      <% if @place.photos.any? %>
        <%= render @place.photos %>
      <% end -%>
      <%# @place.coord_geographic.x %>
      <%# @place.coord_geographic.y %>

   </section><!--
--><section id="col-der">
       <!-- columna derecha - links a lugares favoritos y recomendados -->
    <%= render 'shared/col_der' %>
    
   </section>