<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <content id="content" class="content" >
    <section id="section">  
      
      <% flash.each do |key, value| %>
        <!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
        <%= content_tag(:div, value, class: "alert alert-#{key}" ) %>
      <% end %>

      <%= yield %>

    </section>
  </content>

  <%= render 'layouts/footer' %>

 <%= debug(params) if Rails.env.development? %>
</body>
</html>
   